<div class="fadein" ng-class="{fadeout: fadeOut}" ng-controller ="ViewContaierCtrl">
<div class="mapContainer">
	<div id="map"></div>
</div>
<div class="contentBox contact">
<div class="bottomLeftColum">

<div class="partial threeDBefore" ng-class="{threeD1: threeD}">
	<span>
	3. Organize Sanayi Bölgesi<br>
	14 Sokak No: 7<br>
	Selçuklu/Konya TÜRKİYE
	</span>
</div>
<div class="partial threeDBefore" ng-class="{threeD1: threeD}">
	<span>
	T : +90 (332) 239 23 23 (pbx)<br>
	F : +90 (332) 239 10 88<br>
	M : <a href="mailto:draft@draft.com.tr" target="_top">draft@draft.com.tr</a></span>
</div>

</div>
<div class="topRightColum">
	<div class="labelContainer">
		<label>NAME <i>:</i></label>
		<label>E-MAIL <i>:</i></label>
		<label>MESSAGE <i>:</i></label>
	</div>
	<div class="formContainer">
		<form id="form" method="POST" action="/">
			<input name="name" class="name" type="text">
			<input name="email" class="email" type="text">
			<textarea name="message" class="message"></textarea>
			<input class="redButton" type="submit" value="ASK DRAFT CHOCOLATE & CANDY">
		</form>
	</div>
</div>

</div> 
</div>