<div class="contentBox aboutUs">

<div class="topColum">

		<h1><b>50+ </b>yıllık deneyim</h1>
				<p>
		
1960 yılında kurulan Draft Şekerleme yaklaşık yarım asırdır ağzımızı tatlandırmaya devam ediyor. Yumuşak şekerleme, sert şekerleme, kokolin çikolata, jöle şekerleme gibi ürünler üreten Draft Şekerleme ürünlerini tüketicilere arz etmektedir.
</p>
<p>
Gıda sektöründe üretim yapmanın bilincini taşıyan Draft, hijyenik bir ortamda ürettiği ürünleri daima kalite anlayışı ile üretimini sürdürerek bir Dünya markası olmak yolunda emin adımlarla ilerlemektedir. Kaliteli ürünler, kaliteli hammaddelerden üretilir prensibi ile hareket etmekte, bize en kaliteli ürün ve hizmeti sunan tedarikçiler ile yolumuza devam etmekteyiz.
</p>
<p>
Türkiye'nin %80'ini kapsayan bayi ağı ile Ege, Marmara, İç Anadolu, Karadeniz, Doğu ve Güney Doğu Anadolu bölgelerinde ürünlerimizin dağıtımını yapmakta, Türkiye'nin tamamını kapsamaya yönelik bayileşme çalışmalarımızı sürdürmekteyiz. Üretimimizin %65 ini dünya genelinde 50 ülkeye ihraç etmekteyiz. Firmamız TSE imalat yeterlilik belgesine sahiptir; ayrıca Helal, HACGP ve EN ISO 22000:2005 standartlarına uygunluğu akredite edilmiştir.
</p>
<p>
Draft, gelecekte de sürekli kalitesini artırmaya yönelik çalışmalar yapmaya ve sektörünün tanınmış firmaları arasında yer alarak ağızlara tat vermeye devam edecektir.
 </p>
<p>
Çikolata, şekerli ürünler piyasasında ve atılım yaptığımız her alanda insanlığa dünyanın en güzel lezzetlerini bir arada sunmaktır. Geliştirdiğimiz ürünlerle sektörümüzde farkımızı ortaya koyarak modern tesisimizde tecrübeli ve dinamik kadromuzla birlikte kurumsallaşma sürecini aşmış ve dünya pazarında üst düzey bir marka olma yolunda ileriyoruz.
		</p>
</div>

</div> 